<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhuang.sheen.wcbweibo"
    android:versionCode="1"
    android:versionName="1.1" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="8" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.zhuang.sheen.wcbweibo.activity.MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 辅助完成Renren授权的Activity ，必须在AndroidManifest.xml中声明 -->
        <activity
            android:name="com.renren.api.connect.android.AuthorizationHelper$BlockActivity"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name="com.zhuang.sheen.wcbweibo.activity.ViewActivity"
            android:label="@string/title_activity_view" >
        </activity>
        <activity android:name="com.zhuang.sheen.wcbweibo.activity.ShareRenrenActivity" >
        </activity>
        <activity
            android:name="com.zhuang.sheen.wcbweibo.activity.ShowFriendsTimelineActivity"
            android:label="@string/title_activity_show_friends_timeline" >
        </activity>

        <meta-data
            android:name="gfan_statistics_appkey"
            android:value="6E695BEC036D399ADBD211AAD1D631B7" />
        <meta-data
            android:name="gfan_cpid"
            android:value="3714722" />
    </application>

</manifest>